/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }
  
  body {
    background-color: #fff0f6;
    color: #4b2e2e;
    line-height: 1.6;
  }
  
  /* navbar*/
  .navbar {
    background: linear-gradient(90deg, #d8bfd8, #ffb6c1, #8b5e3c);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    font-size: 1.8rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.2rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffe4e1;
  }
  
  /* hero section */
  .hero {
    text-align: center;
    padding: 2rem;
  }
  
  .hero h2 {
    color: #8b5e3c;
    margin-top: 1rem;
  }
  
  .hero p {
    color: #a64ca6;
  }
  
  .animated-img {
    width: 50%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 12px;
    animation: fadeIn 3s infinite alternate;
  }
  
  @keyframes fadeIn {
    from { opacity: 0.6; }
    to { opacity: 1; }
  }
  
  /* profile */
  .profile {
    text-align: center;
    padding: 2rem;
  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #ffb6c1;
    margin-bottom: 1rem;
  }
  
  /* friends */
  .friends {
    padding: 2rem;
    text-align: center;
  }
  
  .friends-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .friend-card {
    background: #ffe4f0;
    border: 2px dotted #d8bfd8;
    padding: 1rem;
    border-radius: 15px;
    transition: transform 0.3s;
  }
  
  .friend-card:hover {
    transform: scale(1.05);
  }
  
  .friend-card img {
    width: 100px;
    height: 100px;
    
  }
  
  /* messages */
  .messages {
    padding: 2rem;
    text-align: centerS;
  }
  .messages h2{
   color: #ffb6c1; 
   margin-bottom: 1.5rem;
  }
  .message-card {
    background: #fce1f3;
    border: 2px dotted #8b5e3c;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    text text-align: content: ;

  .messages-card label{
    color: #8b5e3c;
    font-size: 1rem;

  }
